@tailwind base;
@tailwind components;
@tailwind utilities;

/*

Color Palette:
- Blue grey (#90ADC6)
- Pewter (#E9EAEC)
- Yellow (#FAD02C)
- Dark blue (#333652)
https://www.canva.com/colors/color-palettes/foil-covered-sneakers/

*/
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
  transition: .5s;
}
.clip-1{
  clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);
}
